.test{
  padding-top: 10px;
}
.product-card {
  position: relative;
  width: 320px;
}
.colors {
  margin: 10px 0;
  color: #666;
  font-size: 14px;
}
.price-range {
  font-size: 16px;
  color: red;
  font-weight: bold;
}
.introduction p{
  margin-bottom: 8px;
}
